{{>layout/header}}
<div class="wrapper">
    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    IPH
                </a>
                <a href="/" class="simple-text logo-normal">
                    HOME
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a href="plan">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>계획보드</p>
                    </a>
                </li>
                <li>
                    <a href="memory">
                        <i class="tim-icons icon-badge"></i>
                        <p>추억보드</p>
                    </a>
                </li>
                <li class="active ">
                    <a href="../add_couple">
                        <i class="tim-icons icon-single-02"></i>
                        <p>커플 등록</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">

        {{>layout/navbar}}

        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5">
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p><button type="button" class="btn btn-fill btn-primary" onclick = "location.href = 'add_couple_new' ">새 커플 등록</button></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{>layout/footnav}}
    </div>
</div>
{{>layout/dropdown}}
{{>layout/footer}}