{{>layout/header}}
<div class="wrapper">
    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    IPH
                </a>
                <a href="/" class="simple-text logo-normal">
                    HOME
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a href="../plan">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>계획보드</p>
                    </a>
                </li>
                <li class="active ">
                    <a href="../memory">
                        <i class="tim-icons icon-badge"></i>
                        <p>추억보드</p>
                    </a>
                </li>
                <li>
                    <a href="./map.html">
                        <i class="tim-icons icon-pin"></i>
                        <p>Maps</p>
                    </a>
                </li>
                <li>
                    <a href="./notifications.html">
                        <i class="tim-icons icon-bell-55"></i>
                        <p>Notifications</p>
                    </a>
                </li>
                <li>
                    <a href="../edit_profile">
                        <i class="tim-icons icon-single-02"></i>
                        <p>프로필 관리</p>
                    </a>
                </li>
                <li>
                    <a href="./tables.html">
                        <i class="tim-icons icon-puzzle-10"></i>
                        <p>Table List</p>
                    </a>
                </li>
                <li>
                    <a href="./typography.html">
                        <i class="tim-icons icon-align-center"></i>
                        <p>Typography</p>
                    </a>
                </li>
                <li>
                    <a href="./rtl.html">
                        <i class="tim-icons icon-world"></i>
                        <p>RTL Support</p>
                    </a>
                </li>
                <li class="active-pro">
                    <a href="./upgrade.html">
                        <i class="tim-icons icon-spaceship"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">

        {{>layout/navbar}}

        <div class="content">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">추억 등록</h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-4 pr-md-1">
                                        <div class="form-group">
                                            <label>년</label>
                                            <input type="text" class="form-control" placeholder="Year" id="year">
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl-md-1">
                                        <div class="form-group">
                                            <label>월</label>
                                            <input type="text" class="form-control" placeholder="Month" id="month">
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl-md-1">
                                        <div class="form-group">
                                            <label>일</label>
                                            <input type="text" class="form-control" placeholder="Date" id="date">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>장소</label>
                                            <input type="text" class="form-control" placeholder="Place" id="place">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>내용</label>
                                            <textarea rows="4" cols="80" class="form-control" placeholder="Content" id="content"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-fill btn-primary" id="btn-save">Add</button>
                        </div>
                    </div>
                </div>
                <!--프로필 시작-->
                <div class="col-md-4">
                    <div class="card card-user">
                        <div class="card-body">
                            <p class="card-text">
                                <div class="author">
                                    <div class="block block-one"></div>
                                    <div class="block block-two"></div>
                                    <div class="block block-three"></div>
                                    <div class="block block-four"></div>
                                    <a href="javascript:void(0)">
                                        <img class="avatar" src="/img/emilyz.jpg" alt="...">
                                        <h5 class="title">Mike Andrew</h5>
                                    </a>
                            <p class="description">
                                Ceo/Co-Founder
                            </p>
                        </div>
                        </p>
                    </div>
                    <div class="card-description">
                        Do not be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    </div>
                    <div class="card-footer">
                        <div class="button-container">
                            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                                <i class="fab fa-facebook"></i>
                            </button>
                            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                                <i class="fab fa-twitter"></i>
                            </button>
                            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                                <i class="fab fa-google-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--프로필 끝-->
            </div>
        </div>
{{>layout/footnav}}
    </div>
</div>
{{>layout/dropdown}}
{{>layout/footer}}