{{>layout/header}}
<div class="wrapper">
    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    IPH
                </a>
                <a href="/" class="simple-text logo-normal">
                    HOME
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a href="plan">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>계획보드</p>
                    </a>
                </li>
                <li>
                    <a href="memory">
                        <i class="tim-icons icon-badge"></i>
                        <p>추억보드</p>
                    </a>
                </li>
                <li class="active ">
                    <a href="../add_couple">
                        <i class="tim-icons icon-single-02"></i>
                        <p>커플 등록</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">

        {{>layout/navbar}}

        <div class="content">
            <form action="/add_profile_two" method="get">
            {{#coupleProfile}}
            <div class="row">
                <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="title">프로필 등록</h5>
                                <p class="category">등록할 프로필을 선택해 주세요</p>
                            </div>
                            <div class="card-body all-icons">
                                <div class="row">
                                    <div class="font-icon-list col-md-6 pr-md-1">
                                        <div class="font-icon-detail">
                                            <i class="tim-icons icon-badge"></i>
                                            <p><button type="button" class="btn btn-fill btn-black">{{user1_name}} 프로필</button></p>
                                        </div>
                                    </div>
                                    <div class="font-icon-list col-md-6 pl-md-1">
                                        <div class="font-icon-detail">
                                            <i class="tim-icons icon-badge"></i>
                                            <p><button type="submit" class="btn btn-fill btn-primary">{{user2_name}} 프로필</button></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
                <input type="hidden" id="user1_name" name="user1_name" value="{{user1_name}}">
                <input type="hidden" id="user1_job" name="user1_job" value="{{user1_job}}">
                <input type="hidden" id="user1_year" name="user1_year" value="{{user1_year}}">
                <input type="hidden" id="user1_month" name="user1_month" value="{{user1_month}}">
                <input type="hidden" id="user1_date" name="user1_date" value="{{user1_date}}">
                <input type="hidden" id="user1_address" name="user1_address" value="{{user1_address}}">
                <input type="hidden" id="user1_instagram" name="user1_instagram" value="{{user1_instagram}}">
                <input type="hidden" id="user1_facebook" name="user1_facebook" value="{{user1_facebook}}">
                <input type="hidden" id="user1_email" name="user1_email" value="{{user1_email}}">
                <input type="hidden" id="user1_about" name="user1_about" value="{{user1_about}}">
                <input type="hidden" id="user1_img_path" name="user1_img_path" value="{{user1_img_path}}">
                <input type="hidden" id="user2_name" name="user2_name" value="{{user2_name}}">
                <input type="hidden" id="start_year" name="start_year" value="{{start_year}}">
                <input type="hidden" id="start_month" name="start_month" value="{{start_month}}">
                <input type="hidden" id="start_date" name="start_date" value="{{start_date}}">
                {{/coupleProfile}}
            </form>
        </div>

        {{>layout/footnav}}
    </div>
</div>
{{>layout/dropdown}}
{{>layout/footer}}