{{>layout/header}}
<div class="wrapper">
    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    IPH
                </a>
                <a href="/" class="simple-text logo-normal">
                    HOME
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a href="../plan">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>계획보드</p>
                    </a>
                </li>
                <li>
                    <a href="../memory">
                        <i class="tim-icons icon-badge"></i>
                        <p>추억보드</p>
                    </a>
                </li>
                <li>
                    <a href="../add_couple">
                        <i class="tim-icons icon-single-02"></i>
                        <p>커플 등록</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">

        {{>layout/navbar}}

        <div class="content">
            <div class="row">
                <!--프로필1 시작-->
                {{#couple_profile}}
                <div class="col-md-4">
                    <div class="card card-user">
                        <div class="card-body">
                            <p class="card-text">
                                <div class="author">
                                    <div class="block block-one"></div>
                                    <div class="block block-two"></div>
                                    <div class="block block-three"></div>
                                    <div class="block block-four"></div>
                                    <a href="javascript:void(0)">
                                        <img class="avatar" src="{{user1_img_path}}" alt="...">
                                        <h5 class="title">{{user1_name}}</h5>
                                    </a>
                            <p class="description">
                            {{user1_job}}
                            </p>
                        </div>
                        </p>
                    </div>
                    <div class="card-description des-center">
                        {{user1_about}}
                    </div>
                    <div class="card-footer">
                        <div class="button-container">
                            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                                <i class="fab fa-facebook"></i>
                            </button>
                            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                                <i class="fab fa-twitter"></i>
                            </button>
                            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                                <i class="fab fa-google-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {{/couple_profile}}
            </div>
            <!--프로필1 끝-->
            <!--사이 div 시작-->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body all-icons">
                        <div class="row">
                            <div class="font-icon-list col-md-12">
                                <div class="font-icon-detail">
                                    <i class="tim-icons icon-heart-2"></i>
                                    <p><h1>{{count}}일</h1></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--사이 div 끝-->
            <!--프로필2 시작-->
            {{#couple_profile}}
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="card-body">
                        <p class="card-text">
                            <div class="author">
                                <div class="block block-one"></div>
                                <div class="block block-two"></div>
                                <div class="block block-three"></div>
                                <div class="block block-four"></div>
                                <a href="javascript:void(0)">
                                    <img class="avatar" src="{{user2_img_path}}" alt="...">
                                    <h5 class="title">{{user2_name}}</h5>
                                </a>
                        <p class="description">
                        {{user2_job}}
                        </p>
                    </div>
                    </p>
                </div>
                <div class="card-description des-center">
                    {{user2_about}}
                </div>
                <div class="card-footer">
                    <div class="button-container">
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                            <i class="fab fa-facebook"></i>
                        </button>
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                            <i class="fab fa-twitter"></i>
                        </button>
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                            <i class="fab fa-google-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            {{/couple_profile}}
        </div>

                </div>
        <!--프로필2 끝-->
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">오늘 일정</h4>
                        </div>
                        <div class="card-body">
                            {{#today}}
                                <div class="alert alert-info">
                                    <span>{{content}} - {{place}}</span>
                                </div>
                            {{/today}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">다가오는 일정</h4>
                        </div>
                        <div class="card-body">
                            {{#next}}
                                <div class="alert alert-primary">
                                    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="tim-icons icon-simple-remove"></i>
                                    </button>
                                    <span><b> ({{month}}/{{date}}) </b> {{place}} - {{content}}</span>
                                </div>
                            {{/next}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{{>layout/footnav}}
    </div>
</div>
{{>layout/dropdown}}
{{>layout/footer}}